<div class="bg-gray-100 ">
    <app-navbar-dashboard></app-navbar-dashboard>


    <main class="container mx-auto  p-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div class="rounded-lg border bg-card text-card-foreground shadow-sm col-span-2" data-v0-t="card">
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-2xl font-semibold whitespace-nowrap leading-none tracking-tight">
                        Me dérniers articles
                    </h3>
                </div>
                <div class="p-6">
                    <div dir="ltr" class="relative overflow-hidden h-[300px]"
                        style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
                        <style>
                            [data-radix-scroll-area-viewport] {
                                scrollbar-width: none;
                                -ms-overflow-style: none;
                                -webkit-overflow-scrolling: touch;
                            }

                            [data-radix-scroll-area-viewport]::-webkit-scrollbar {
                                display: none
                            }
                        </style>
                        <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit]"
                            style="overflow: hidden scroll;">
                            <div style="min-width: 100%; display: table;">
                                <div class="relative w-full overflow-auto">
                                    <table class="w-full caption-bottom text-sm">
                                        <thead class="[&amp;_tr]:border-b">
                                            <tr
                                                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                                <th
                                                    class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                                    Titre</th>
                                             
                                                <th
                                                    class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                                    Status</th>
                                                <th
                                                    class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                                    Date publié</th>
                                            </tr>
                                        </thead>
                                        <tbody class="[&amp;_tr:last-child]:border-0">
                                            <tr *ngFor="let article of latestArticles"
                                                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                                <td
                                                    class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">
                                                    {{article.title}}
                                                </td>
                                                
                                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                                    <div
                                                        class="inline-flex items-center rounded-full whitespace-nowrap border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80">
                                                    {{article.isApproved ? "Approuvé" : "refusé"}}
                                                    </div>
                                                </td>
                                                <td class="p-4 w-[120px] align-middle [&amp;:has([role=checkbox])]:pr-0">
                                                    {{article.createdAt | date }}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items-center p-6 flex justify-between">
                    <a routerLink="/dashboard/managment"
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2">View
                        All</a>
                </div>
            </div>
            <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full" data-v0-t="card">
                <div class="flex flex-col space-y-1.5 p-6">
                    <h3 class="text-2xl font-semibold whitespace-nowrap leading-none tracking-tight">
                        les plus lus
                    </h3>
                </div>
                <div class="p-6">
                    <ul class="divide-y divide-gray-200">
                        <li *ngFor="let article of mostReadArticles" class="py-4 flex">
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                {{article.title}}    
                                </p>
                                <p class="text-sm text-gray-500">Reads: {{article.readCount}}</p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </main>

</div>

