<header class=" bg-[#340d64] p-4">
    <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <img src="https://res.cloudinary.com/doy8hfzvk/image/upload/v1681163320/BOTOLA_PRO_glyp4w.png"
                alt="Premier League Logo" class="h-10" width="40" height="40"
                style="aspect-ratio: 40 / 40; object-fit: cover;">
            <nav class="hidden lg:flex space-x-6">
                <a href="http://localhost:5176/" class="text-white hover:text-gray-300">home</a>

                <a routerLink="/dashboard/acceuil" class="text-white hover:text-gray-300">Dashboard</a>
                <a routerLink="/articles" class="text-white hover:text-gray-300">Articles</a>
            </nav>
        </div>
        <div class="flex items-center space-x-4">

            <button
                class=" items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 text-white bg-[#0073e6] hover:bg-[#005bb5]">
            Logout
            </button>

        </div>
    </div>
</header>
